includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    exceptions:
        check:
            tooWideThrowType: true
            missingCheckedExceptionInThrows: true
    paths:
        - app

    level: 6
